html,
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(189, 186, 186);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

tr {
  border: 2px solid rgb(2, 2, 2);
}

td,
th {
  padding: 15px 20px;
  border: 2px solid rgb(2, 2, 2);
}

th {
  font-size: 25px;
  background-color: rgb(139, 49, 49);
}

.lotWork {
  background-color: rgb(168, 154, 27);
  color: rgb(0, 0, 0);
}

.mediumWork {
  background-color: rgb(126, 143, 28);
}

.littleWork {
  background-color: rgb(251, 255, 0);
}

.lotTime {
  background-color: rgb(5, 80, 5);
}

.mediumTime {
  background-color: rgb(37, 173, 3);
}

.littleTime {
  background-color: rgb(74, 124, 72);
}
