body {
  background-color: Azure;
}
table {
  width: 100%;
}

th {
  margin: auto;
  padding: 10px;
  background-color: rgb(177, 153, 144);
  border-radius: 5px;
  text-align: center;
}
td {
  margin: auto;
  padding: 8px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  text-align: center;
}
text {
  text-align: center;
}
